* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(175, 175, 175);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 4rem;
  background-color: antiquewhite;
}
.nav-bar .search-input, .nav-bar h1 {
  margin: auto 0.8rem auto 0.8rem;
}
.nav-bar .search-input {
  margin-right: 1rem;
}
.nav-bar button {
  margin-left: 0.4rem;
}